#header{
    background-color: #2A95BF;
}

.menuContainer{
    max-width: 960px;
    margin: 0px auto;
}

nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

#mainmenu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#logo img{
    max-width: 95px;
    height: auto;
}

#logo{
    padding: 5px 0px;
}

#mainmenu li a{
    color: white;
    display: block;
    padding: 18px 20px;
    text-decoration: none;
    font-size: large;
}

#mainmenu li {
    position: relative;
}

#mainmenu li:hover {
    background-color: #1261A6;
}

#mainmenu ul.sub-menu{
    position: absolute;
    background-color: #2A95BF;
    padding: 15px 0px;
    list-style: none;
    width: 200px;
    display: none;
}

#mainmenu li:hover ul.sub-menu{
    display: block;
}

#mainmenu ul.sub-menu a{
    padding: 8px 15px;
    border-bottom: 1px solid white;
}

#mainmenu ul.sub-menu li:hover a{
    background-color: #1261A6;
}

