body{
    font-family: Arial, sans-serif;
}

.container {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: auto;
    height: 900px;
}

.registration-form{
    background-color: #fff;
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: xx-large;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
    align-self: center;
    width: 380px;
}

label {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #1277cf;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1rem;
    transition: background-color 0.3s;
    font: bold;
    font-size: large;
}

button:hover {
    background-color: #074c88;
}

input[type="checkbox"] {
    position: absolute;
    left: 0;
}


